
body{
	background-color: #fff;
}

p{
	font-size: 14px;
	text-align: center;
}

.text{
	margin-left: -53%;
	margin-top: 3%;
}

.infotext{
	margin-bottom: 50px;
}

.background{
	background-color: #C8E2DF;
	width: 720px;
	height: 840px;
	margin: auto;
	margin-top: 20px;
	box-shadow: 3px 4px #190D0D;
}

.content{
	margin-left: 35%;
	
	margin-top: 80px;
}

.button {
   background-image: -webkit-linear-gradient(top, rgba(52,207,60,1) 0%,rgba(98,207,39,1) 100%);
   background-image:    -moz-linear-gradient(top, rgba(52,207,60,1) 0%,rgba(98,207,39,1) 100%);
   background-image:     -ms-linear-gradient(top, rgba(52,207,60,1) 0%,rgba(98,207,39,1) 100%);
   background-image:      -o-linear-gradient(top, rgba(52,207,60,1) 0%,rgba(98,207,39,1) 100%);
   background-image:         linear-gradient(top, rgba(52,207,60,1) 0%,rgba(98,207,39,1) 100%);
   -webkit-box-shadow: 1px 2px 7px 0px rgba(0,0,0,1);
      -moz-box-shadow: 1px 2px 7px 0px rgba(0,0,0,1);
           box-shadow: 1px 2px 7px 0px rgba(0,0,0,1);
   border: solid 7px rgba(20,209,30,1);
   -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
           border-radius: 16px;
   display: inline-block;
   font-size: 18px;
   line-height: 15px;
   margin-left: 15%;
   margin-bottom: 10%;
   margin-top: 10%;
}
.button:hover {

}
.button:active {
}

.button{
	text-decoration: none;
}

.collage{
	width: 110%;
	margin-left: -30%;
	margin-top: 10%;
}

.wasd{
	width: 40%;
	margin-top: -60%;
	margin-left: 40%;
}

.r{
	width: 15%;
	margin-left: 45%;
	margin-top: 5%;
}

.reload{
	margin-left: 30%;
	font-size: 200%;
	visibility: hidden;
}

h1{
	padding-top: 25px;
	font-size: 50px;
	font-family: 'Trade Winds', cursive;
	margin-top: -80%;
}

h2{
	padding-top: 3px;
}


a:link{
	color: #fff;
}

a:hover{
	color: white;
}

a:visited{
	color:black;
}








